.nav{
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: rgb(165, 52, 42);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.reactmeals{
    color:white;
    padding-left: 120px;
    
}

.cartsection{
    padding-right: 120px;
}