.cart{
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 31, 31);
    padding: 0px 40px;
    border-radius: 40px;
    height: 50px




}
.cart:hover,.cart:active {
    background-color: rgb(82, 22, 22);
}



h4{
    
    padding: 0px 20px;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 500px)  {
    .cart{
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(110, 31, 31);
        padding: 0px 20px;
        border-radius: 40px;
        height: 50px
    
    
    
    
    }

    h4{
        padding: 0px 10px;
        font-size: 80%;
    }

    
}