.overall{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.305) ;
    

    
}
.meal{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
h3{
    margin: 0;
}

.amount {
  /* margin: 0px 10px 10px 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
    width:30px;
    margin: 10px;
    
}

label {
    font-weight: bolder;
}

i{
    font-size: small;
}

b{
    color: rgb(205, 87, 44)
}

button {
    border: 0px;
    border-radius: 50px;
    width: 100px;
    padding: 5px ;
    background-color: rgb(132, 36, 36);
    color: white;
}

@media screen and (max-width: 300px)  {
    button {
        border: 0px;
        border-radius: 50px;
        width: 100%;
        padding: 5px ;
        background-color: rgb(132, 36, 36);
        color: white;
    }
}



