
.overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.back{
    display: flex;
    justify-content: center;
    width: 100%;

}

.food{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
   
   
  
  
    
}



@media screen and (max-width: 650px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
        
    
    
    
    }
}

@media screen and (max-width: 560px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60%;
        
    
    
    
    }
}

@media screen and (max-width: 510px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80%;
        
    
    
    
    }
}

@media screen and (max-width: 450px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100%;
        
    
    
    
    }
}

@media screen and (max-width: 410px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120%;
        
    
    
    
    }
}
@media screen and (max-width: 415px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130%;
        
    
    
    
    }
}
@media screen and (max-width: 343px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200%;
        
    
    
    
    }
}
@media screen and (max-width: 271px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250%;
        
    
    
    
    }
}

@media screen and (min-width: 650px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40%;
        
    
    
    
    }

}

@media screen and (min-width: 800px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    
    }

}

@media screen and (min-width: 1000px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    
    }

}

@media screen and (min-width: 1300px)  {
    .food{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12%;
    
    }

}

